table {
  border-collapse: collapse;
  border: 1px solid #999;
}

th {
  background-color: #ddd;
  border: 1px solid #999;
  border-bottom: 2px solid #555;
}

td {
  border: 1px solid #999;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

tr:nth-child(even) {
  background-color: #eee;
}

tr:nth-child(odd) {
  background-color: #fff;
}
